---
http_interactions:
- request:
    method: get
    uri: https://api.pubg.com/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"status","id":"pubg-api","attributes":{"releasedAt":"2018-03-12T14:08:16Z","version":"master"}}}

'
  recorded_at: Tue, 13 Mar 2018 17:03:01 GMT
recorded_with: VCR 4.0.0
